/* cor de fundo*/
$corDeFundo: #333;
/*fonte padrão*/
$fontPadrao: Helvetica;
/*cor dos botôes*/
$corDefundoBotao: #fdfdfd;
$corPadraoBotao: #102f5e;
/*cor do search*/
$corDoSearch: #DDD;
/*cor do done*/
$corFundoDone: #395169;
$corDone: #fff;